* {
    margin: 0;
    padding: 0;
}
body {
    background: skyblue;
}

.first-container {
    background: white;
    margin: 80px 40px 100px 40px;
    padding: 30px 35px;
    font-size: 28px;
}

.second-container {
    background: white;
    margin: 80px 40px 100px 40px;
    padding: 30px 35px;
    font-size: 28px;
}